<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #map {
      height: 75%;
    }
    /* Optional: Makes the sample page fill the window. */

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <div id="map"></div>
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        center: new google.maps.LatLng(2.8, -187.3),
        mapTypeId: 'roadmap',
        minZoom: 13,
        maxZoom: 20
      });
    }

      // Create a <script> tag and set the USGS URL as the source.
      //var script = document.createElement('script');
      // This example uses a local copy of the GeoJSON stored at
      // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
      //script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
      //document.getElementsByTagName('head')[0].appendChild(script);

      $.ajax({
            url: "/map/userlocation",
            type: "GET",

            contentType: 'application/json; charset=utf-8',
            success: function(results) {
                var bounds = new google.maps.LatLngBounds();

                // dynamic icons as described here:
                // https://developers.google.com/chart/infographics/docs/dynamic_icons#special_pins
                // MarkerImage documentation here:
                // https://developers.google.com/maps/documentation/javascript/markers
                var pinImage = new google.maps.MarkerImage(
                        'http://chart.googleapis.com/chart?chst=d_map_xpin_icon&chld=pin_sleft%7Chome%7Cba0712%7CFF0000',
                        new google.maps.Size(31,51),
                        new google.maps.Point(0,0),
                        new google.maps.Point(10,34),
                        new google.maps.Size(31,51)
                      );

                for (var i = 0; i < results.features.length; i++) {
                  // TEMP: user location info window
                  var infoWindowContent = '<div id="content">'+
                                          '<div id="siteNotice">'+
                                          '</div>'+
                                          '<h2 id="firstHeading" class="firstHeading">Your Location</h2>'+
                                          '<div id="bodyContent">'+
                                          '<p>This is where you are right now.</p>'+
                                          '<p>We\'ll find some available vehicles nearby and get you on your way.</p>'+
                                          '</div>'+
                                          '</div>';

                  var infoWindow = new google.maps.InfoWindow({
                    content: infoWindowContent
                  });

                  var coords = results.features[i].geometry.coordinates;
                  var latLng = new google.maps.LatLng(coords[1],coords[0]);
                  var marker = new google.maps.Marker({
                    position: latLng,
                    icon: pinImage,
                    map: map,
                    title: results.features[i].properties.name
                  });

                  marker.addListener('click', function() {
                    infoWindow.open(map, marker);
                  });

                  bounds.extend(marker.getPosition());
                }
                map.fitBounds(bounds);

                $.ajax({
                  url: "/map/cars",
                  type: "GET",

                  contentType: 'application/json; charset=utf-8',
                  success: function(results) {
                      var pinColor = '00FFFF';
                      var pinImage = new google.maps.MarkerImage(
                        'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=•|' + pinColor,
                        new google.maps.Size(21, 34),
                        new google.maps.Point(0,0),
                        new google.maps.Point(10, 34)
                      );

                      var pinShadow = new google.maps.MarkerImage(
                        'http://chart.apis.google.com/chart?chst=d_map_pin_shadow',
                        new google.maps.Size(40, 37),
                        new google.maps.Point(0, 0),
                        new google.maps.Point(12, 35)
                    );

                      for (var i = 0; i < results.features.length; i++) {

                        (function () { // this closure is required for the info windows to show properly

                          var availFrm='';
                          var availTo='';
                          if (results.features[i].properties.status == 'Available') {
                            availFrm = '<br>' + '&nbsp;&nbsp;&nbsp; Available from ' + results.features[i].properties.availableFrom;
                            availTo = '<br>' + '&nbsp;&nbsp;&nbsp; Return by ' + results.features[i].properties.availableTo;
                          }

                          // TEMP: car details info window
                          var infoWindowContent = '<div id="content">'+
                                                  '<div id="siteNotice">'+
                                                  '</div>'+
                                                  '<h2 id="firstHeading" class="firstHeading">' + results.features[i].properties.name + '</h2>'+
                                                  '<div id="bodyContent">'+
                                                  '<p><b>Location:</b> ' + results.features[i].properties.loc_desc + '</p>'+
                                                  '<p><b>Owner:</b> ' + results.features[i].properties.owner + '</p>'+
                                                  '<p><b>Status:</b> ' + results.features[i].properties.status +
                                                    availFrm + availTo +
                                                  '</p>'+
                                                  '<div id="vehicleImage"><img width="100px" height="75px" src="' + results.features[i].properties.image + '"></div>'
                                                  '</div>'+
                                                  '</div>';

                          var carInfoWindow = new google.maps.InfoWindow({
                            content: infoWindowContent
                          });
                                                  
                          var coords = results.features[i].geometry.coordinates;
                          var latLng = new google.maps.LatLng(coords[1],coords[0]);
                          var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            icon: pinImage,
                            shadow: pinShadow,
                            title: results.features[i].properties.name + '\n'
                          });

                          google.maps.event.addListener(marker, 'click', function() {
                            carInfoWindow.open(map, marker);
                          });
                          
                          bounds.extend(marker.getPosition());

                        }());

                      }

                      map.fitBounds(bounds);

                  },
                  error : function(jqXHR, textStatus, errorThrown) {
                  },

                  timeout: 120000,
              });

            },
            error : function(jqXHR, textStatus, errorThrown) {
            },

            timeout: 120000,
        });

        

  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUonXcsBfuuR-wtqvHuI_Ojfl95as0NMk&callback=initMap">

  </script>

  <div class="carrow-base">
    <div><h1>Carrow</h1></div>
    <div>Let's see what's available around 
      <% if (typeof userlocation != 'undefined') { %>
         <%= userlocation %>
      <% } else { %>
        <%= 'you...' %>
      <% } %>
    </div>
  </div>
</body>

</html>